<div>
    <app-search></app-search>
    <app-filter 
    [total]="getTotalcourses()"
    [free]="getTotalFreeCourses()"
    [primium]="getTotalPremiumCourses()"
    
    ></app-filter>
</div>



<div class="course-container" *ngFor="let course of courses">
    <div class="course-card">
        <div>
            <img [src]="course.image" alt="" style="width: 220px; height: 140px">
        </div>
        <div class="course-name">
            <h4>{{ course.name }}</h4>
        </div>
        <div class="course-description">
            <p>{{course.description.slice(0, 80)}}...</p>
        </div>
        <div class="datails">
            <div class="course-type" [ngStyle]="{color: course.type==='Free'?'Green' : 'Red'}">{{course.type}}</div>
            <div class="course-price"><b>Price:</b> ${{course.price}}</div>
        </div>

        <div class="course-buttons">
            <button class="btn btn-buy">Bye Now</button>
            <button class="btn btn-show">Show deatails</button>
        </div>
    </div>
</div>